<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

		<title>Vue Email list</title>
	</head>

	<body>
		<div id="app">
			<ol>
				<div>Lista Esercizio base</div>
				<li v-for="email in emails">{{email}}</li>
			</ol>
			<ol>
				<div>Lista Esercizio Bonus</div>
				<li v-for="email in bonusEmails">{{email}}</li>
			</ol>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="./src/js/main.js"></script>
	</body>
</html>
